.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.navbar-right {
  justify-content: flex-end;
}

.header {
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid gray;
}